snippet equation
	\begin{equation}
		$0
	\end{equation}
# equation

snippet aligned
	\begin{equation}
	\begin{aligned}
		$0
	\end{aligned}
	\end{equation}
# aligned equation

snippet align
	\begin{align}
		$0
	\end{align}
# align

snippet figure
	\begin{figure}
		\centering
		\includegraphics[width=\linewidth]{"$0"}
	\end{figure}
# figure

snippet verbatim
	\begin{verbatim}
		$0
	\end{verbatim}
#verbatim


